.PostsPage_Post {
    .PostsPage_Post_Title { margin-bottom: 0; }
    .PostsPage_Post_Body { margin-top: 0; }

    .Comments {
        display: none;
        &.open { display: block; }
        
        border-left: solid 1px grey ;
        margin-left: 1em;
        padding-left: .5em;

        .Comment {
            margin-bottom: 2em;
            * {margin: 0;}
            .Header { display: flex; }
            .Header h4 { margin-right: 10px; }
            .Header p { color: grey; }
        }
        

    }
}