.PostsPage_Post {
    .Comments {
        display: none;
        &.open { display: block; }
        
        border-left: solid 1px grey ;
        margin-left: 1em;
        padding-left: .5em;

        .Comment {
            margin-bottom: 2em;
            * {margin: 0;}
            .header { display: flex; }
            .header h4 { margin-right: 10px; }
            .header p { color: grey; }
        }
        

    }
}