.PostCard {
    margin-bottom: 1em;
    padding: 1em;

    .Avatar { 
        margin-right: .5em;
    }

    .header { 
        display: flex;
    }

    .body {
        padding: 10px;
        padding-left: 35px;

        .reactions {
            margin-top: 1em;
        }
    }
}