---
import PostCard from "../components/PostCard.astro";
import DividedLayout from "../layouts/DividedLayout.astro";
import type { PostType } from "../types/PostType";

const posts = 
	(await Astro.glob('./blog/*.{md,mdx}'))
	.map(p => ({...p.frontmatter, url: p.url} as PostType))
	.filter(p => !p.draft)
	.sort((a, b) => new Date(b.pubDate).valueOf() - new Date(a.pubDate).valueOf()
)
---

<DividedLayout gridCols="grid-cols-[30em_auto]" accountForHeader={false}>
	<div slot="0" class="sticky top-0 h-[100vh] grid place-items-center bg-black text-white">
		<h1 class="flex-1 font-black md:text-[8rem] leading-[8rem]"> 
			BL <br/>
			<span class="ml-[1.5rem]"> OG& <br/> </span>
			NEW <br/>
			<span> S <br/> </span>
		</h1>
	</div>
	<div slot="1" class="mt-10 p-6">
		{posts.map((p, i) => {
			const isLastOne = i != posts.length - 1
			const separationLine = isLastOne ? <div class="border-b my-5"/> : null
			
			return <>
				<PostCard post={p}/>
				{separationLine}
			</>
		})}
	</div>
</DividedLayout>