---

// import type { PostType } from "../types/PostType";

// export async function getStaticPaths() {
//   const posts = 
//     (await Astro.glob('./blog/*.{md,mdx}'))
//     .map(p => ({...p.frontmatter, url: p.url} as PostType))
//     .filter(p => !p.draft)
//     .sort((a, b) => new Date(b.pubDate).valueOf() - new Date(a.pubDate).valueOf()
//   )

//   return posts.map(post  => (
//     { params: { url: post.url }, props: { post } }
//   ))
// }

// type Props = { post: PostType}
// const { post }:Props = Astro.props;

---

<!-- <div>
  { post.title }
</div> -->