---
import HeaderLink from './HeaderLink.astro';
---

<header class="fixed w-full top-0 left-0 z-10">
	<nav class="flex items-center justify-between h-10 px-6">
		<ul class="block gap-4 h-full">
			<HeaderLink href="/"> 
				<img width="30" height="30" src="/_logo.png" alt="Seran Logo">
			</HeaderLink>
		</ul>
		<ul class="flex gap-4">
			<HeaderLink href="/about">About</HeaderLink>
			<HeaderLink href="https://www.linkedin.com/in/seran-moreno/" target="_blank"> LinkedIn </HeaderLink>
			<HeaderLink href="https://github.com/SergioMorenoAntequera" target="_blank"> GitHub </HeaderLink>
		</ul>
	</nav>
</header>

