---
import MetaTags from "../components/MetaTags.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../config";

export type Props = {title?: string, description?: string, accountForHeader?: boolean }
const { 
    title = SITE_TITLE, 
    description = SITE_DESCRIPTION,
    accountForHeader = true
}:Props = Astro.props
---

<!DOCTYPE html>
<html lang="en">
<head>
    <MetaTags title={title} description={description}/>
</head>
<body>
    <Header accountForHeader={accountForHeader}/>
    { accountForHeader && <div class="h-10"/> }

    <main>
        <slot/>
    </main>
    
    <Footer />
</body>
</html>