.PostPage {
    .PostPage_Header {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;

        margin: 0 0 3rem 0;
    }


    .ReactionContainer {
        display: flex;
        gap: 1em;
    }
}