---
import type { PostFrontmatter } from '../../types/PostFrontmatter'

type Headings = { depth: number; slug: string; text: string }[]
const { headings: auxHeadings } = Astro.props
const headings = auxHeadings as Headings

const frontmatter:PostFrontmatter = Astro.props.frontmatter || Astro.props
---

<div style="display: flex; justify-content: space-between;">
    <div>
        <div> Header -&gt; {frontmatter.title}  </div>
        <div> <slot/> </div>
        <div> Footer  </div>
    </div>
    <div>
        {headings.map(h => <a href={`#${h.slug}`}>
            <p style={`margin-left: ${10*h.depth}px`}> {h.text} </p>
        </a>)}
    </div>
</div>